@{
    ViewData["Title"] = "About";
}

<h4>About ScribbleBoard</h4>

<p>Scribble Board is a program that allows users to draw simple pictures, using their cursor as a drawing point. They can use several different colors, making pixel art reminiscent of Microsoft Paint. Users can then save and display their images, along with data such as title and description. The images are stored via a custom API, and users are only allowed to access edit or delete functions for pictures they create (however, users will be able to see all images from all users).</p>
<p>ScribbleBoard was made as a team capstone project for Epicodus by Garrett Brown, Shannon Lee, and Salim Mayan to demonstrate understanding of C# and ASP.NET Core web development. To see more details and to view the source code, please visit our <a href="https://github.com/shanole/ScribbleBoard.Solution">github link</a>.</p>

<hr>
<p>Copyright (c) 2021 GARRETT BROWN, SHANNON LEE, SALIM MAYAN</p>