@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Scribble Board</h1>
    <p>@Html.ActionLink("Account index", "Index", "Account")</p>
    <p>@Html.ActionLink("See all images", "Index", "Images")</p>
    <p>@Html.ActionLink("Create a new image", "Create", "Images")</p>
</div>