@{
  Layout = "_Layout";
}

<h1>Scribbles</h2>

@using ScribbleBoard.Models
@using System
@model List<ScribbleBoard.Models.Image>

@if (Model.Count == 0)
{
  <p>There are no images yet.</p>
}

<div class="flexParent"> 
@foreach (Image image in Model)
{
  <div class="flexChild"> 
      <h4>@Html.ActionLink(image.Title, "Details", new {id = image.ImageId})</h4>
      <img src="@image.Data" />
      <!-- <br /> -->
  </div>
}

</div>