@using ScribbleBoard.Models
@model List<ScribbleBoard.Models.Image>

<h1>@ViewBag.UserName's Gallery</h1>

@if (Model.Count == 0)
{
  <p>There are no images yet.</p>
}

<div class="flexBox"> 
@foreach (Image image in Model)
{
  <div> 
      <h4>@Html.ActionLink(image.Title, "Details", new {id = image.ImageId})</h4>
      <img src="@image.Data" />
      <!-- <br /> -->
  </div>
}

</div>